html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../medios/portadatoyota.jpg);
  backdrop-filter: brightness(80%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-top: 1%;
}

#portada {
  background-image: url(../medios/imagenProyecto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-portada;
  opacity: 0.9;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
