footer {
  width: 100%;
  @include flex-center;
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding: 20px 0;
  text-align: center;
  position: relative;

  .ubicacion p {
    margin: 5px 0;
    font-size: 1rem;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  a {
    display: inline-block;
    padding: $link-padding;
    @include gradient-bg($link-bg-start-color, $link-bg-end-color);
    @include rounded($link-border-radius);
    font-size: $link-font-size;
    text-decoration: none;
  }
}
