footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding: 20px 0;
  text-align: center;
  position: relative;

  .ubicacion p {
    margin: 5px 0;
    font-size: 1.4rem;
  }

  a {
    display: inline-block;
    padding: $link-padding;
    background-image: $link-bg-gradient;
    border-radius: $link-border-radius;
    font-size: $link-font-size;
    text-decoration: none;
  }
}
