.redesSociales {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  right: 50px;

  svg {
    display: flex;
    height: 40px;
    width: 40px;
    margin: 25px 30px;
    transition: transform 0.2s;
    margin-top: 3%;

    &:hover {
      transform: scale(1.8);
    }
  }
}

#verde {
  color: #00e676;
}

#azul {
  color: blue;
}

#rojo {
  color: red;
}
#violeta {
  color: blueviolet;
}

main {
  flex: 1;
}
