.redesSociales {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  right: 20px;
  margin-bottom: 3%;
  margin-top: 3%;

  svg {
    display: flex;
    height: 45px;
    width: 45px;
    margin: 10px 20px;
    transition: transform 0.2s;
    margin-top: 3%;
    margin-left: 4%;

    &:hover {
      transform: scale(1.8);
    }
  }
}
#verde {
  color: #39ee97;
}
#azul {
  color: rgb(121, 125, 231);
}
#rojo {
  color: rgb(228, 3, 3);
}
#violeta {
  color: rgb(166, 129, 200);
}
main {
  flex: 1;
}
.slogan {
  font-size: 1.4rem;
  text-align: center;
  background-color: #f9b804;
  color: black;
}
