$color-portada: rgb(249, 249, 251);
$footer-bg-color: rgba(32, 23, 23, 0.8);
$footer-text-color: white;
$link-bg-gradient: linear-gradient(to left, orange, white);
$link-padding: 7px 14px;
$link-border-radius: 5px;
$link-font-size: 1rem;
