@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
header {
  background-image: linear-gradient(to left, orange, white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  border-radius: 15%;
  border: 4px solid rgb(252, 152, 3);
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}

nav ul {
  display: flex;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.5);
  list-style: none;
  padding: 0;
  border-radius: 15%;
  margin-right: 1%;
  font-size: 1rem;
  margin-top: 4%;
}
nav ul li {
  margin-right: 15px;
}
nav ul a {
  display: flex;
  color: rgb(220, 230, 241);
  font-weight: 600;
  padding: 15px 15px;
  padding-left: 30px;
  font-size: 1.4rem;
}
nav ul a:hover {
  border-bottom: 2px solid blue;
}

h1 {
  text-align: center;
  margin-top: 26px;
  color: black;
  text-shadow: -2px 3px 7px rgba(0, 0, 0, 0.6);
  font-size: 2.8rem;
  margin-bottom: 1%;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../medios/portadatoyota.jpg);
  -webkit-backdrop-filter: brightness(80%);
          backdrop-filter: brightness(80%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-top: 1%;
}

#portada {
  background-image: url(../medios/imagenProyecto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(249, 249, 251);
  opacity: 0.9;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.redesSociales {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  right: 20px;
  margin-bottom: 3%;
  margin-top: 3%;
}
.redesSociales svg {
  display: flex;
  height: 45px;
  width: 45px;
  margin: 10px 20px;
  transition: transform 0.2s;
  margin-top: 3%;
  margin-left: 4%;
}
.redesSociales svg:hover {
  transform: scale(1.8);
}

#verde {
  color: #39ee97;
}

#azul {
  color: rgb(121, 125, 231);
}

#rojo {
  color: rgb(228, 3, 3);
}

#violeta {
  color: rgb(166, 129, 200);
}

main {
  flex: 1;
}

.slogan {
  font-size: 1.4rem;
  text-align: center;
  background-color: #f9b804;
  color: black;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 23, 23, 0.8);
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
}
footer .ubicacion p {
  margin: 5px 0;
  font-size: 1rem;
  margin-top: 0%;
  margin-bottom: 0%;
}
footer a {
  display: inline-block;
  padding: 7px 14px;
  background-image: linear-gradient(to left, orange, white);
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
}

ul {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
  align-items: center;
  font-weight: bold;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
}

.im {
  display: flex;
  justify-content: space-around;
  margin: 1% 0;
}
.im img {
  width: 500px;
  height: 500px;
  border-radius: 25px;
}

.contenedor {
  display: flex;
  justify-content: space-between;
}
.contenedor .autos,
.contenedor .camioneta {
  flex-basis: 45%;
}

.buttons {
  display: flex;
  gap: 20px;
}
.buttons button {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(to left, orange, white);
  border-radius: 5px;
}

.section-inputs {
  display: flex;
  gap: 10px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  max-width: 75%;
  text-align: center;
  margin-top: 4%;
  padding-left: 10%;
  margin-left: 8%;
}
form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form label input {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
  font-size: 14pt;
  margin: 10px;
  transition: background-color 0.5s, border 0.5s;
  color: black;
}
form label input:hover {
  background-color: #454045;
  border: 1px solid #f3f3f4;
  box-shadow: 0 0 4px #754a4a;
}
form label input:focus {
  background-color: #212121;
  border: 1px solid #f3f3f4;
  box-shadow: 0 0 4px #754a4a;
}
form label span {
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(6, 6, 6);
  background-image: linear-gradient(to bottom, rgb(237, 236, 244), grey);
}
form .checkbox {
  display: flex;
  flex-direction: row;
}
form .checkbox input[type=checkbox] {
  width: 20px;
}
form .checkbox span {
  font-weight: 400;
}
form .legales {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
  font-size: 1.2rem;
}
form .legales button {
  margin-inline: auto;
}
form .submit {
  background-color: orange;
  font-weight: 400;
  border-radius: 10px;
  width: 45%;
  padding: 10px;
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
form .submit:hover {
  opacity: 0.6;
}
form #politica {
  margin: 10px;
}

.legales span {
  color: rgb(8, 8, 8);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  margin: auto;
  font-size: 1.4rem;
}
.legales span a {
  color: rgb(241, 241, 243);
  text-decoration: none;
  font-weight: 900;
}

h2 {
  color: white;
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(36, 3, 250), grey);
  font-size: 2.2rem;
  border-radius: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  padding: 60px;
  padding-bottom: 1%;
}

.tarjeta {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s;
}
.tarjeta:hover {
  transform: scale(1.05);
}

.tarjeta-imagen {
  width: 100%;
  height: auto;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #f9b804;
}

.tarjeta-contenido {
  padding: 16px;
}

.tarjeta h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  background-color: #8c7af5;
}

.tarjeta p {
  color: #060202;
  font-size: 1.5rem;
  margin: 0;
}

.confianza {
  background-color: rgba(220, 209, 133, 0.9);
  border-radius: 15px;
  padding: 15px;
  margin: 5px auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.confianza h4 {
  font-size: 2.1rem;
  color: #4542ea;
  margin-top: 0;
  margin-bottom: 0;
}
.confianza p {
  font-size: 1.4rem;
  color: #070707;
  line-height: 1.5;
  margin-bottom: 0;
}

.sustentabilidad {
  background-color: rgba(4, 37, 145, 0.6);
  font-size: 1.3rem;
  color: rgb(251, 249, 249);
  text-align: justify;
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  border: #fbfbfd solid;
  border-radius: 2%;
}
.sustentabilidad h5 {
  font-size: 1.8rem;
  text-align: center;
}

main {
  padding: 20px;
}

.precios {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.precios h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.price-table th,
.price-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.price-table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  body {
    background-size: contain;
    background-position: center;
  }
  .cabecera {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  h1 {
    font-size: 1.8rem;
    margin-top: 10%;
  }
  nav {
    width: 40%;
  }
  nav ul {
    flex-direction: column;
    padding-right: 0;
    text-align: center;
  }
  nav ul li {
    margin: 0;
  }
  nav ul li a {
    padding: 4px;
    font-size: 1rem;
  }
  .redesSociales svg {
    height: 30px;
    width: 30px;
  }
  .slogan {
    font-size: 0.9rem;
    margin-top: 13%;
  }
}
/*Responsive Pagina Accesorios*/
@media only screen and (max-width: 480px) {
  .im img {
    width: 180px;
    height: 180px;
    margin-left: 0%;
  }
  footer {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  ul {
    font-size: 1rem;
    text-align: left;
  }
  footer a {
    font-size: 0.7rem;
    padding: 5px 12px;
  }
}
/*Responsive pagina Mantenimiento*/
@media only screen and (max-width: 480px) {
  .confianza {
    margin-left: 3%;
    margin-right: 3%;
  }
  .confianza h4 {
    font-size: 1.4rem;
  }
  .confianza p {
    font-size: 1rem;
  }
  .tarjetas {
    padding: 5%;
    gap: 20px;
  }
  .tarjetas h3 {
    font-size: 1rem;
    border-radius: 4%;
  }
  .tarjetas p {
    font-size: 1rem;
  }
}
/*REesponsive modelos*/
@media only screen and (max-width: 480px) {
  .sustentabilidad {
    font-size: 1rem;
    padding: 2%;
  }
  h5 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 1.4rem;
    margin-right: 2%;
    margin-left: 2%;
  }
  .encabezado {
    font-size: 1rem;
    margin-left: 1%;
    margin-right: 1%;
  }
  .precios {
    margin-right: 4%;
    margin-left: 4%;
    font-size: 0.9rem;
  }
}
/*Responsive Pagina Contacto*/
@media only screen and (max-width: 480px) {
  span {
    font-size: 0.4;
  }
  .legales {
    font-size: 0.6rem;
    align-items: center;
  }
  .legales span {
    font-size: 0.9rem;
  }
  .legales button {
    margin: 15px 0px;
    font-size: 0.8rem;
  }
  .container {
    width: 90%;
  }
  .section-inputs {
    display: flex;
    flex-direction: column;
  }
  .section-inputs input {
    font-size: 0.7rem;
  }
  #email {
    font-size: 0.7rem;
  }
  #password {
    font-size: 0.7rem;
  }
  label input {
    width: auto;
  }
}
.ubicacion p {
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  label span {
    font-size: 1rem;
  }
}
/*Responsive index*/
@media only screen and (max-width: 480px) {
  .cabecera {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  h1 {
    font-size: 1.8rem;
    margin-top: 10%;
  }
  nav {
    width: 40%;
  }
  nav ul {
    flex-direction: column;
    padding-right: 0;
    text-align: center;
  }
  nav ul li {
    margin: 0;
  }
  nav ul li a {
    padding: 4px;
    font-size: 1rem;
  }
  footer {
    font-size: 1rem;
  }
  .redesSociales {
    margin-top: 2%;
  }
}
/*Responsive Pagina Accesorios*/
@media only screen and (max-width: 480px) {
  .im img {
    width: 180px;
    height: 180px;
    margin-left: 0%;
  }
  footer {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  ul {
    font-size: 1rem;
    text-align: left;
  }
  footer a {
    font-size: 0.7rem;
    padding: 5px 12px;
  }
  footer {
    padding: 2px 0;
  }
}
/*Responsive pagina Mantenimiento*/
@media only screen and (max-width: 480px) {
  .confianza {
    margin-left: 3%;
    margin-right: 3%;
  }
  .confianza h4 {
    font-size: 1.4rem;
  }
  .confianza p {
    font-size: 1rem;
  }
  .tarjetas {
    padding: 5%;
    gap: 20px;
  }
  .tarjetas h3 {
    font-size: 1rem;
    border-radius: 4%;
  }
  .tarjetas p {
    font-size: 1rem;
  }
}
/*REesponsive modelos*/
@media only screen and (max-width: 480px) {
  .sustentabilidad {
    font-size: 1rem;
  }
  h5 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 1.4rem;
    margin-right: 2%;
    margin-left: 2%;
  }
  .encabezado {
    font-size: 1rem;
    margin-left: 1%;
    margin-right: 1%;
  }
  .precios {
    margin-right: 4%;
    margin-left: 4%;
    font-size: 0.9rem;
  }
}
/*Responsive Pagina Contacto*/
@media only screen and (max-width: 480px) {
  span {
    font-size: 0.4;
  }
  .legales {
    font-size: 0.6rem;
    align-items: center;
  }
  .legales span {
    font-size: 1.2rem;
    color: rgb(248, 247, 247);
    background-color: rgba(31, 30, 30, 0.7);
  }
  .legales button {
    margin: 15px 0px;
    font-size: 0.8rem;
  }
  .container {
    width: 90%;
  }
  .section-inputs {
    display: flex;
    flex-direction: column;
  }
  .section-inputs input {
    font-size: 0.7rem;
  }
  #email {
    font-size: 0.7rem;
  }
  #password {
    font-size: 0.7rem;
  }
  label input {
    width: auto;
  }
}
.ubicacion p {
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  body {
    background-size: contain;
    background-position: center;
  }
  h2 {
    font-size: 1.6rem;
  }
  .confianza p {
    font-size: 1.1rem;
  }
  nav {
    margin-left: 2%;
  }
  nav ul a {
    font-size: 1rem;
  }
  label span {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 1%;
  }
  .tarjeta p {
    font-size: 1.2rem;
  }
  .redesSociales {
    width: 70%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .redesSociales svg {
    height: 5%;
    width: 5%;
    margin-bottom: 5%;
  }
  .ubicacion p {
    font-size: 1rem;
    padding: 0px 0px;
  }
  .slogan {
    font-size: 1rem;
  }
  footer {
    padding: 0%;
  }
  footer a {
    font-size: 0.7rem;
    padding: 5px 10px;
  }
  .sustentabilidad {
    padding: 1%;
  }
  .sustentabilidad p {
    font-size: 1.2rem;
  }
  .im img {
    height: 80%;
    width: 80%;
    border-radius: 15%;
    margin-right: 1%;
  }
  ul li {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=styles.css.map */